[Desktop Entry]
Type=Link
Name=DM Website
GenericName=Website
Comment=Open the Dundee Makerspace website
Icon=browser
URL=https://dundeemakerspace.co.uk
